<div id= "education" class="timeline-container">
  <!-- Education Section -->
  <div class="timeline-section">
    <h2 class="section-title">EDUCATION</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <p class="timeline-date">2018 - 2020</p>
          <h3 class="timeline-title">Secondary Education - Sir Sivaswami Kalalaya</h3>
          <p class="timeline-description">
            I completed my secondary education with an aggregate of 60% from CBSE. During this time, I won the First Prize in the Chip Challenge contest.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <p class="timeline-date">2020 - 2022</p>
          <h3 class="timeline-title">Senior Secondary Education - Sir Sivaswami Kalalaya</h3>
          <p class="timeline-description">
            I completed my Senior Secondary Education with 76.6% in Commerce Stream  with Information Practices from CBSE.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <p class="timeline-date">2022 - 2025</p>
          <h3 class="timeline-title">Bachelors Degree - Saveetha College of Liberal Arts and Sciences</h3>
          <p class="timeline-description">
            I am currently pursuing my undergraduate program with a CGPA of 7.6 .I have participated in various competitions, securing First Prizes in Codeathon, SQL Challenges, and winning Best Poster Presentation in Project Expo 2024.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Experience Section -->
  <div class="timeline-section">
    <h2 class="section-title">EXPERIENCE</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <p class="timeline-date">August 2024 - October 2024</p>
          <h3 class="timeline-title">Developer - Purple Quay Pvt.Ltd</h3>
          <p class="timeline-description">
            I worked at Purple Quay Pvt. Ltd. from August to October 2024, focusing on developing an internal web application for the office. During this internship, I gained valuable full-stack development skills by contributing to both front-end and back-end operations. On the front-end, I utilized the Angular framework to create responsive and user-friendly interfaces, while on the back-end, I worked with Python’s Flask framework to handle server-side logic and data management. This experience not only honed my technical proficiency but also provided practical insights into collaborating within a dynamic development environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
