/* education.component.css */
.education-section {
    width: 100%;
    min-height: 100vh;
    padding: 60px 20px; /* More padding for spacing */
    background: linear-gradient(56deg, #1c1c1c 37%, rgba(2, 188, 255, 0.822) 100%); /* Darker background gradient */
    border-radius: 8px;
    box-sizing: border-box;
    // margin-top: 100px; /* Adjust for fixed navbar height */
    padding-top: 7.5%;
  }
  
  .education-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif; /* Modern font */
  }
  
  .timeline {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 900px;
    margin: auto;
  }
  
//   .timeline::before {
//     content: '';
//     position: absolute;
//     left: 50%;
//     top: 0;
//     width: 2px;
//     height: 100%;
//     background-color: #00b8ff; /* Blue line */
//     transform: translateX(-50%);
//   }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    animation: fadeIn 2.0s ease-out; /* Animation for timeline items */
  }
  
  .timeline-item .timeline-date {
    width: 150px;
    font-weight: bold;
    color: #00b8ff;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  .timeline-item .timeline-content {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .timeline-item .timeline-content:hover {
    transform: scale(1.1); /* Hover effect to enlarge */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Shadow on hover */
  }
  
  .timeline-item h3 {
    margin: 0;
    font-size: 22px;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
  }
  
  .timeline-item p {
    font-size: 16px;
    color: #6c757d;
    line-height: 1.6;
  }
  
  /* Dot for each timeline item */
//   .timeline-item::before {
//     content: "";
//     position: absolute;
//     left: 50%;
//     top: 0;
//     width: 15px;
//     height: 15px;
//     background-color: #00b8ff;
//     border-radius: 50%;
//     transform: translateX(-50%);
    
//   }
  
  /* Animation for timeline items */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  