<div class="body">
  <div id="about" class="about-container">
    <div class="header">
      <app-navbar>
      </app-navbar>
    </div>
    <div class="intro-section">
      <div class="intro-text">
        <h1>Hi, I’m Lalit Chandran</h1>
        <div class="text-animate">
          <h1><br>Student, Developer</h1>
        </div>
        <p>
          As a beginner in website development with a background in BCA, I am eager to apply my knowledge of both
          frontend and backend operations. Skilled in Angular for frontend development and Python for backend, I am
          focused on learning and growing in the field, creating user-friendly websites, and enhancing my technical
          skills with each project.
        </p>
      </div>
      <div class="intro-image">
        <img src="assets/images/Lalit.jpeg" alt="Lalit Chandran">
      </div>
    </div>
  </div>
</div>  
