<div id="skill" class="skill-section">
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <h1>Skills</h1>
        <div class="skills-row">
            <div class="skill">
                <h3>Python</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill python" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">95%</text>
                    </svg>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia voluptas quo, sint modi ab dicta cupiditate neque beatae praesentium, nostrum minima fuga nesciunt iure maiores atque labore quaerat fugit officiis.</p>
            </div>
            <div class="skill">
                <h3>Angular</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill angular" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">70%</text>
                    </svg>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus magni commodi neque eveniet accusamus a quidem blanditiis libero at numquam, itaque quae natus sequi laboriosam nulla atque magnam assumenda distinctio.</p>
            </div>
        </div>
        <div class="skills-row">
            <div class="skill">
                <h3>Java</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill java" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">60%</text>
                    </svg>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officia, soluta temporibus obcaecati modi sit officiis ipsa laborum consectetur totam mollitia excepturi et laboriosam quod ipsum itaque ex quam impedit.</p>
            </div>
            <div class="skill">
                <h3>SQL Scrippting Basics</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill sql" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">80%</text>
                    </svg>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque rem quasi, repudiandae consectetur deserunt molestiae nobis saepe minus aliquid magnam animi voluptatibus similique modi eius odit quae qui aliquam!</p>
            </div>
        </div>
    </div>
</div>
