<div id="skills" class="skill-section">
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <h1>Skills</h1>
        <div class="skills-row">
            <div class="skill">
                <h3>Python</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill python" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">95%</text>
                    </svg>
                </div>
                <p>Intermediate experience in Python programming gained through academic projects and internships. Familiar with building web applications using frameworks like Flask. Proficient in basic object-oriented programming principles, and integrating Swagger APIs.</p>
            </div>
            <div class="skill">
                <h3>Angular</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill angular" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">70%</text>
                    </svg>
                </div>
                <p>Skilled in developing dynamic and responsive front-end web applications using Angular and integrating RESTful APIs with Angular services."
                </p>
            </div>
        </div>
        <div class="skills-row">
            <div class="skill">
                <h3>Java</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill java" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">60%</text>
                    </svg>
                </div>
                <p>Knowledgeable in Java programming for building desktop and web-based applications.</p>
            </div>
            <div class="skill">
                <h3>SQL Scrippting Basics</h3>
                <div class="circle-bar">
                    <svg width="150" height="150" viewBox="0 0 150 150">
                        <circle class="background" cx="75" cy="75" r="70" />
                        <circle class="fill sql" cx="75" cy="75" r="70" />
                        <text x="50%" y="50%" text-anchor="middle" dy="0.3em" font-size="20" fill="black">80%</text>
                    </svg>
                </div>
                <p>Proficient in writing SQL scripts to manage and manipulate data within relational databases. Skilled in creating complex queries, optimizing performance, and designing efficient database schemas.</p>
            </div>
        </div>
    </div>
</div>
